header {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #a9e1ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.brand-name {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  display: inline-block;
  position: absolute;
  gap: 50px;
  padding-left: 60px;
}

.brand-logo {
  max-width: 50px;
  height:  auto;
  width: auto;
  display: inline-block;
  position: relative;
  padding-left: 5px;
}

.instagram-icon {
  max-width: 20px;
  height:  auto;
  width: auto;
  display: inline-block;
}

.intro {
  padding-left: 45%;
  padding-right: 45%;
  padding-bottom: 13%;
  padding-top: 5%;
  text-align: center;
  position: absolute;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

header nav {
  display: flex;
  align-items: center;
  margin-left: 850px;
  font-weight: bold;
  font-family: 'Arial';
}

header nav a {
  margin-left: 20px;
}

header nav a:hover {
  color: #007bff;
}

.about-us{
  padding-left: 0%;
  padding-right: 35%;
  padding-bottom: 10%;
  padding-top:27%;
  text-align: left;
  gap:40px;
}

.about{
  display: flex;
  font-weight: bold;
  font-family: 'Arial';
}